<!DOCTYPE html>

<title>ToDo index</title>

{% block body %}
    <h1>ToDo index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for to_do in to_dos %}
            <tr>
                <td>{{ to_do.id }}</td>
                <td>{{ to_do.name }}</td>
                <td>
                    <a href="{{ path('front_app_to_do_show', {'id': to_do.id}) }}">show</a>
                    <a href="{{ path('front_app_to_do_edit', {'id': to_do.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('front_app_to_do_new') }}">Create new</a>
{% endblock %}
