{% extends 'base.html.twig' %}

{% block title %}Modification {{ hackathon.name }}!{% endblock %}

{% block body %}
    <h1>Modification {{ hackathon.name }}</h1>
    {{ form_start(form) }}
        {{ form_rest(form) }}
        <input type="submit" value="Créer">
    {{ form_end(form) }}
{% endblock %}
